name: Build binaries
on:
  workflow_dispatch:
  release:
    types: [published]
jobs:
  build:
    name: Python ${{ matrix.python-version }} (${{ matrix.os }})
    runs-on: ${{ matrix.os }}
    strategy:
        fail-fast: false
        matrix:
            os: [ubuntu-latest, macos-latest]
            python-version: ['3.10']
    steps:
    - uses: actions/checkout@v2
    - name: Set up Python 3.10
      uses: actions/setup-python@v2
      with:
        python-version: '${{ matrix.python-version }}'
    - name: Install Python dependencies
      run: |
        pip install pytest pytest-cov pyinstaller
        pip install ./
    - name: Install Samtools
      run: |
        wget https://github.com/samtools/samtools/releases/download/1.15.1/samtools-1.15.1.tar.bz2
        bunzip2 samtools-1.15.1.tar.bz2
        tar xvf samtools-1.15.1.tar
        cd samtools-1.15.1
        ./configure
        make
        cp samtools ..
        cd ..
    - name: Install readItAndKeep
      run: |
        git clone https://github.com/GenomePathogenAnalysisService/read-it-and-keep.git
        cd read-it-and-keep/src
        make
        mv readItAndKeep ../..
        cd ../..
        rm -r read-it-and-keep
    - name: Build PyInstaller binary
      run: |
        # pyinstaller --onefile --name gpas --add-data src/gpas/data:data --noconfirm src/gpas/gpas.py
        pyinstaller gpas.spec
    - name: Copy files into dist/
      run: |
        cp readItAndKeep dist/
        cp samtools dist/
    - name: Test binary
      run: |
        dist/gpas tests/test-data/large-illumina-bam.csv --processes 1
    - name: Store dist
      uses: actions/upload-artifact@v2
      with:
        name: gpas-${{ matrix.os }}
        path: dist/*

  windows-build:
    name: Python ${{ matrix.python-version }} (${{ matrix.os }})
    runs-on: ${{ matrix.os }}
    strategy:
        fail-fast: false
        matrix:
            os: [windows-2019]
            python-version: ['3.10']
    steps:
    - uses: actions/checkout@v2
    - name: Set up Python 3.10
      uses: actions/setup-python@v2
      with:
        python-version: '${{ matrix.python-version }}'
    - name: Install Python dependencies
      run: |
        pip install pytest pytest-cov pyinstaller
        pip install .\
    - name: Install Samtools
      shell: pwsh
      run: |
        Invoke-WebRequest -Uri "https://github.com/GlobalPathogenAnalysisService/gpas-cli/raw/main/lib/win/samtools.zip" -OutFile samtools.zip
        Expand-Archive -LiteralPath "samtools.zip" -DestinationPath .\
    - name: Install readItAndKeep
      shell: pwsh
      run: |
        Invoke-WebRequest -Uri "https://github.com/GlobalPathogenAnalysisService/gpas-cli/raw/main/lib/win/readItAndKeep.zip" -OutFile readItAndKeep.zip
        Expand-Archive -LiteralPath "readItAndKeep.zip" -DestinationPath .\
    - name: Build PyInstaller binary
      shell: cmd
      run: |
        # pyinstaller --onefile --name gpas --add-data src/gpas/data;data --noconfirm src/gpas/cli.py
        pyinstaller gpas.spec
    - name: Copy files into dist/
      shell: pwsh
      run: |
        Copy-Item "readItAndKeep.exe" -Destination "dist\"
        Copy-Item "samtools.exe" -Destination "dist\"
        Copy-Item "*.dll" -Destination "dist\"
    - name: Test binary
      shell: cmd
      run: |
        dist\gpas tests\test-data\large-illumina-bam.csv --processes 1
    - name: Store dist
      uses: actions/upload-artifact@v2
      with:
        name: gpas-${{ matrix.os }}
        path: dist\*
